mat-form-field {
  margin: 5px;
}

.parameter-card {
  margin: 2px auto;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.parameter-card-content {
  display: flex;
  flex-direction: column;
}

mat-slider{
  width: 75%;
}

.error {
  text-align: center;
  color: red;
  margin: 10px;
}

.labels-container{
  display: flex;
  justify-content: space-between;
}

.button-container {
  text-align: center;
}

button {
  margin: 10px 5px 0 5px;
}

.value-card {
  width: 700px;
  margin: 2px auto;
  justify-content: center;
  align-items: center;
}

.value-card-content {
    display: flex;
    flex-direction: column;
}

.slider {
  text-align: center;
}

.label {
  text-align: center;
  margin: 5px;
}

.brand-selector {
  text-align: center;
}

.model-selector {
  text-align: center;
}

.phone-list {
  display: flex;
  justify-content: space-between;
}

.add-button {
  width: 100px;
  text-align: center;
}

.wrapper {
  text-align: center;
}

