.phones-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.phone-image {
  cursor: pointer;
  width: 150px;
  height: 225px;
}

.phone-brand {
  font-size: 80%;
}

.phone-tile {
  margin: 20px;
}

mat-search-bar {
  margin: 17px 20px 0 0;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
}
