<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button routerLink="/" mat-button type="button" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="/comparision">Comparision</button>
      <button mat-button routerLink="/">Pairwise comparision</button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
