.wrapper {
  justify-content: center;
  margin: 50px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.phone-image {
  width: 10%;
  height: auto;
}

.phone-image > img {
  margin-left: 40px;
  width: 150%;
}

.details-table {
  border: 0;
  border-radius: 0;
  width: 100%;
}

.details-table th {
  width: 40%;
}

.whole-table {
  align-items: center;
  justify-content: center;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 10px;
}

th , td  {
  margin: 2px;
  padding: 2px;
}

table tr:nth-child(odd) {
  background-color: #f0f0ff;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

