<div class="wrapper">
  <div class="grid">
    <div class="container">
      <div class="label">Brand</div>
      <div class="value">{{phone?.brand}}</div>
    </div>
    <div class="container">
      <div class="label">Model</div>
      <div class="value">{{phone?.model}}</div>
    </div>
    <div class="container">
      <div class="label">Networks</div>
      <div class="value">{{phone?.networks}}</div>
    </div>
    <div class="container">
      <div class="label">Bands 2</div>
      <div class="value">{{phone?.bands2}}</div>
    </div>
    <div class="container">
      <div class="label">Bands 3</div>
      <div class="value">{{phone?.bands3}}</div>
    </div>
    <div class="container">
      <div class="label">Bands 4</div>
      <div class="value">{{phone?.bands4}}</div>
    </div>
    <div class="container">
      <div class="label">Network speed</div>
      <div class="value">{{phone?.networkSpeed}}</div>
    </div>
    <div class="container">
      <div class="label">GPRS</div>
      <div class="value">{{phone?.gprs}}</div>
    </div>
    <div class="container">
      <div class="label">EDGE</div>
      <div class="value">{{phone?.edge}}</div>
    </div>
    <div class="container">
      <div class="label">Announced date</div>
      <div class="value">{{phone?.announcedDate}}</div>
    </div>
    <div class="container">
      <div class="label">Status</div>
      <div class="value">{{phone?.status}}</div>
    </div>
    <div class="container">
      <div class="label">Dimensions</div>
      <div class="value">{{phone?.dimensions}}</div>
    </div>
    <div class="container">
      <div class="label">Weight</div>
      <div class="value">{{phone?.weight}}</div>
    </div>
    <div class="container">
      <div class="label">SIM</div>
      <div class="value">{{phone?.sim}}</div>
    </div>
    <div class="container">
      <div class="label">Display type</div>
      <div class="value">{{phone?.displayType}}</div>
    </div>
    <div class="container">
      <div class="label">Display resolution</div>
      <div class="value">{{phone?.displayResolution}}</div>
    </div>
    <div class="container">
      <div class="label">Display size</div>
      <div class="value">{{phone?.displaySize}}</div>
    </div>
    <div class="container">
      <div class="label">Operation system</div>
      <div class="value">{{phone?.os}}</div>
    </div>
    <div class="container">
      <div class="label">CPU</div>
      <div class="value">{{phone?.cpu}}</div>
    </div>
    <div class="container">
      <div class="label">Chipset</div>
      <div class="value">{{phone?.chipset}}</div>
    </div>
    <div class="container">
      <div class="label">GPU</div>
      <div class="value">{{phone?.gpu}}</div>
    </div>
    <div class="container">
      <div class="label">Memory card</div>
      <div class="value">{{phone?.memoryCard}}</div>
    </div>
    <div class="container">
      <div class="label">Internal memory</div>
      <div class="value">{{phone?.internalMemory}}</div>
    </div>
    <div class="container">
      <div class="label">RAM</div>
      <div class="value">{{phone?.ram}}</div>
    </div>
    <div class="container">
      <div class="label">Primary camera</div>
      <div class="value">{{phone?.primaryCamera}}</div>
    </div>
    <div class="container">
      <div class="label">Secondary camera</div>
      <div class="value">{{phone?.secondaryCamera}}</div>
    </div>
    <div class="container">
      <div class="label">Loud speaker</div>
      <div class="value">{{phone?.loudSpeaker}}</div>
    </div>
    <div class="container">
      <div class="label">Audio jack</div>
      <div class="value">{{phone?.audioJack}}</div>
    </div>
    <div class="container">
      <div class="label">WLAN</div>
      <div class="value">{{phone?.wlan}}</div>
    </div>
    <div class="container">
      <div class="label">Bluetooth</div>
      <div class="value">{{phone?.bluetooth}}</div>
    </div>
    <div class="container">
      <div class="label">GPS</div>
      <div class="value">{{phone?.gps}}</div>
    </div>
    <div class="container">
      <div class="label">NFC</div>
      <div class="value">{{phone?.nfc}}</div>
    </div>
    <div class="container">
      <div class="label">Radio</div>
      <div class="value">{{phone?.radio}}</div>
    </div>
    <div class="container">
      <div class="label">USB</div>
      <div class="value">{{phone?.usb}}</div>
    </div>
    <div class="container">
      <div class="label">Sensors</div>
      <div class="value">{{phone?.sensors}}</div>
    </div>
    <div class="container">
      <div class="label">Battery</div>
      <div class="value">{{phone?.battery}}</div>
    </div>
    <div class="container">
      <div class="label">Colors</div>
      <div class="value">{{phone?.colors}}</div>
    </div>
    <div class="container">
      <div class="label">Price</div>
      <div class="value">{{phone?.price}}</div>
    </div>
  </div>
  <div class="phone-image">
    <img src="{{phone?.imageUrl}}" onerror="this.src='/assets/images/photo-not-available.jpg';" alt="Photo not available">
  </div>
</div>
