<div class="wrapper">
  <div class="phone-image">
    <img alt="Photo not available" onerror="this.src='/assets/images/photo-not-available.jpg';"
         src="{{phone?.imageUrl}}">
  </div>
  <table class="whole-table">
    <tr>
      <mat-checkbox color="primary" checked="true" (change)="onChange(0)">Summary</mat-checkbox>
    </tr>
    <table class="details-table" *ngIf="!showSummary">
      <tr>
        <th>Brand</th>
        <td>{{phone?.brand}}</td>
      </tr>
      <tr>
        <th>Model</th>
        <td>{{phone?.model}}</td>
      </tr>
      <tr>
        <th>Display size</th>
        <td>{{phone?.displaySize}}</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>{{phone?.price}}$</td>
      </tr>
      <tr>
        <th>RAM</th>
        <td>{{phone?.ram}}</td>
      </tr>
      <tr>
        <th>Internal memory</th>
        <td>{{phone?.internalMemory}}</td>
      </tr>
      <tr>
        <th>Memory Card</th>
        <td>{{phone?.memoryCard}}</td>
      </tr>
      <tr>
        <th>Battery</th>
        <td>{{phone?.battery}}</td>
      </tr>
      <tr>
        <th>Color</th>
        <td>{{phone?.colors}}</td>
      </tr>
    </table>
    <tr>
      <mat-checkbox color="primary" (change)="onChange(1)">General</mat-checkbox>
    </tr>
    <table class="details-table" *ngIf="!showGeneral">
      <tr>
        <th>Operation system</th>
        <td>{{phone?.os}}</td>
      </tr>
      <tr>
        <th>CPU</th>
        <td>{{phone?.cpu}}</td>
      </tr>
      <tr>
        <th>Chipset</th>
        <td>{{phone?.chipset}}</td>
      </tr>
      <tr>
        <th>GPU</th>
        <td>{{phone?.gpu}}</td>
      </tr>
      <tr>
        <th>Announced date</th>
        <td>{{phone?.announcedDate}}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{phone?.status}}</td>
      </tr>
      <tr>
        <th>Dimensions</th>
        <td>{{phone?.dimensions}}</td>
      </tr>
      <tr>
        <th>Weight</th>
        <td>{{phone?.weight}}</td>
      </tr>
      <tr>
        <th>SIM</th>
        <td>{{phone?.sim}}</td>
      </tr>
      <tr>
        <th>Display size</th>
        <td>{{phone?.displaySize}}</td>
      </tr>
      <tr>
        <th>Display type</th>
        <td>{{phone?.displayType}}</td>
      </tr>
      <tr>
        <th>Display resolution</th>
        <td>{{phone?.displayResolution}}</td>
      </tr>
      <tr>
        <th>Networks</th>
        <td>{{phone?.networks}}</td>
      </tr>
    </table>
    <tr>
      <mat-checkbox color="primary" (change)="onChange(2)">Network Connectivity</mat-checkbox>
    </tr>
    <table class="details-table" *ngIf="!showNetwork">
      <tr>
        <th rowspan="3">Bands</th>
        <td>{{phone?.bands2}}</td>
      </tr>
      <tr>
        <td>{{phone?.bands3}}</td>
      </tr>
      <tr>
        <td>{{phone?.bands4}}</td>
      </tr>
      <tr>
        <th>Network speed</th>
        <td>{{phone?.networkSpeed}}</td>
      </tr>
      <tr>
        <th>GPRS</th>
        <td>{{phone?.gprs}}</td>
      </tr>
      <tr>
        <th>EDGE</th>
        <td>{{phone?.edge}}</td>
      </tr>
    </table>

    <tr>
      <mat-checkbox color="primary" (change)="onChange(3)">Multimedia</mat-checkbox>
    </tr>
    <table class="details-table" *ngIf="!showMultimedia">
      <tr>
        <th>Primary camera</th>
        <td>{{phone?.primaryCamera}}</td>
      </tr>
      <tr>
        <th>Secondary camera</th>
        <td>{{phone?.secondaryCamera}}</td>
      </tr>
      <tr>
        <th>Loud speaker</th>
        <td>{{phone?.loudSpeaker}}</td>
      </tr>
      <tr>
        <th>Audio jack</th>
        <td>{{phone?.audioJack}}</td>
      </tr>
      <tr>
        <th>Operation WLAN</th>
        <td>{{phone?.wlan}}</td>
      </tr>
      <tr>
        <th>Bluetooth</th>
        <td>{{phone?.bluetooth}}</td>
      </tr>
      <tr>
        <th>GPS</th>
        <td>{{phone?.gps}}</td>
      </tr>
      <tr>
        <th>NFC</th>
        <td>{{phone?.nfc}}</td>
      </tr>
      <tr>
        <th>Radio</th>
        <td>{{phone?.radio}}</td>
      </tr>
      <tr>
        <th>USB</th>
        <td>{{phone?.usb}}</td>
      </tr>
      <tr>
        <th>Sensors</th>
        <td>{{phone?.sensors}}</td>
      </tr>
    </table>
  </table>
</div>
